.results-title {
  text-align: left;
  margin-top: 25px;
  margin-left: 5px;
}

.artist-image {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
}

.artist-name {
  display: inline-block;
  margin-left: 15px;
  font-size: 17px;
  font-weight: 500;
}

ul {
  padding-left: 0;
  border-top: 2px solid #F4F4F4; 
  border-left: 2px solid #F4F4F4;
  border-right: 2px solid #F4F4F4;
}

li {
  border-bottom: 2px solid #F4F4F4;
}

li a {
  padding: 10px;
  display: block;
}

li a:hover {
  background-color: #E6E6E6;
}

td {
  text-align: left;
}
